volumes:
  postgres_data:

services:
  #db:
    #image: postgres:15
    #container_name: secureforum-db
    #restart: unless-stopped
    #env_file:
    #  - .env.dev
    #environment:
      #POSTGRES_DB: ${DATABASE_NAME}
      #POSTGRES_USER: ${DATABASE_USER}
      #POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    #volumes:
      #- postgres_data:/var/lib/postgresql/data
    #ports:
     # - "5432:5432"
    #healthcheck:
      #test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB -h 127.0.0.1 || exit 1"]
      #interval: 5s
      #timeout: 5s
      #retries: 12

  web:
    build: .
    container_name: secureforum-web
    restart: unless-stopped
    env_file:
      - .env.dev
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py migrate &&
             python manage.py ensure_admin &&
             python manage.py createsu &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
      - /var/log/secureforum:/var/log/secureforum
    ports:
      - "80:8000"
    #depends_on:
      #db:
        #condition: service_healthy
