name: Deploy repo przy updacie

on:
  push:
    branches:
      - bastion-test

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Klucz do bastionu ssh
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.BASTION_KEY }}

      - name: Deploy przez bastion na backend
        run: |
          ssh -o StrictHostKeyChecking=no \
          ${{ secrets.BASTION_USER }}@${{ secrets.BASTION_HOST }} << 'EOF'

            ssh -i 'secure-forum-key.pem' \
            -o StrictHostKeyChecking=no \
            ${{ secrets.BACKEND_USER }}@${{ secrets.BACKEND_HOST }} << 'INNER_EOF'

              cd /home/ubuntu/secure-forum
              git fetch origin
              git reset --hard origin/bastion-test
              docker-compose up -d --build

            INNER_EOF
          EOF
