name: SAST/DAST/Deploy

on:
  push:
    branches:
      - bastion-test


permissions:
  actions: read
  contents: read
  security-events: write

jobs:
  sast-codeql:
    name: SAST - CodeQL 
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: python
          queries: security-extended

      # Dla Pythona NIE POTRZEBA autobuilda,
      # ale CodeQL go toleruje – bezpiecznie zostawić
      - name: Autobuild
        uses: github/codeql-action/autobuild@v4

      - name: Analyze
        uses: github/codeql-action/analyze@v4

  deploy:
    name: Deploy przez bastion
    #needs: sast-codeql
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Klucz do bastionu ssh
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.BASTION_KEY }}
          

      - name: Run OWASP ZAP on backend
        run: |
          ssh -o StrictHostKeyChecking=no ec2-user@13.60.134.106 "\
            ssh -i /home/ec2-user/secure-forum-key.pem -o StrictHostKeyChecking=no ${{ secrets.BACKEND_USER }}@${{ secrets.BACKEND_HOST }} '\
              docker run -v /home/ubuntu/secure-forum:/zap/wrk/:rw --network=host -t ghcr.io/zaproxy/zaproxy:stable zap-baseline.py \
                -t http://localhost:80 \
                -r report.html \
                -J report.json \
                -w report_md.md \
                -a -j -m 10 \
            '"
      
      #- name: Deploy przez bastion na backend
      #  run: |
      #    ssh -o StrictHostKeyChecking=no ec2-user@13.60.134.106 "\
      #      ssh -o StrictHostKeyChecking=no \
      #      ${{ secrets.BACKEND_USER }}@${{ secrets.BACKEND_HOST }} "

      #         cd /home/ubuntu/secure-forum && \
      #         git fetch origin && \
      #         git reset --hard origin/bastion-test && \
      #         docker-compose down --rmi all -v --remove-orphans && \
      #         docker-compose --env-file .env.dev up -d --build \
      #       ' \
      #     "
